:root {
    --dark-colour: #044887;
    --light-colour: #087deb;
    --bright-colour: #f0f8ff;
    --black-colour: #000000;
}

body {
    margin: 0 auto;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-colour);
}

.top-bar h1 {
    padding-left: 30px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 56px;
    background: var(--light-colour);
}

.top-bar nav {
    padding: 15px;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
}

a {
    color: var(--bright-colour);
}

ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

li {
    padding: 15px;
    list-style: none;
}

figure {
    display: flex;
    height: 350px;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: aquamarine;
    background-image: url("../images/background-image-(marek-piwnicki).jpg");
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
}

figure img {
    margin: 80px -255px;
    display: flex;
    border-style: solid;
    border-color: var(--black-colour);
    border-width: 5px;
    border-radius: 25px;
}

figure figcaption{
    margin: 10px;
    height: 50px;
    width: 200px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 25px;
    background: var(--light-colour);
    font-size: 44px;
}

.about-me-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-content .about-h2 {
    padding: 15px;
    margin: auto;
    display: flex;
    line-height: 150px;
    font-size: 56px;
}

.about-details {
    padding: 15px;
    margin: 20px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
}

@media screen and (min-width: 981px) {
    .about-h2 {
        border-right: 3px solid #044887;;
    }
}

@media screen and (max-width:980px) {
    .top-bar,
    figure,
    figcaption {
        width: 100%;
        flex-direction: column;
    }

    figure img{
        margin: 25px auto;
    }
    
    .about-me-content {
        flex-direction: column;
    }

    .about-h2 {
        border-right: 0;
        text-decoration: underline;
    }

    .about-details {
        border-bottom: 3px solid #044887;
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {
    .top-bar,
    figure,
    figcaption {
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width:575px) {
    .top-bar,
    figure,
    figcaption {
        width: 100%;
        flex-direction: column;
    }
}


/*
980px
768px
575px
*\

/*

main {
    display: flex;
    flex-wrap: wrap;
}

.work-content {
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.work-h2 {
    padding: 15px;
    margin-left: 167px;
    display: flex;
    border-right: 3px solid #044887;
    font-size: 56px;
}

.card-boxes{
    width: 100%;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
}

.big-card-title {
    margin-top: 25%;
    padding-left: 1%;
    position: relative;
    bottom: 99%;
    right: 2px;
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: var(--dark-colour);
    z-index: 1;
}

.card-title {
    margin-top: 5%;
    padding-left: 2%;
    position: relative;
    bottom: 65%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    background: var(--dark-colour);
    z-index: 1;
}

.card-title a {
    font-size: 24px;
    text-decoration: none;
    color: aliceblue;
}

.big-card-title a {
    font-size: 24px;
    text-decoration: none;
    color: aliceblue;
}

.card-title p {
    color: aliceblue;
}

.big-card-title p {
    color: aliceblue;
}

.big-work-card {
    margin: 1%;
    width: 90%;
    height: 500px;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: #044887;
    border-style: solid;
    border-color: #044887;
    border-width: 5px;
    border-radius: 25px;
}

.big-work-card a{
    z-index: 1;
}

.big-work-card h2 {
    border-right-style: none;
}

.work-card {
    margin: 1%;
    flex-wrap: wrap;
    width: 44%;
    height: 200px;
    text-align: center;
    background-color: #044887;
    border-style: solid;
    border-color: #044887;
    border-width: 5px;
    border-radius: 25px;
}

.work-card a {
    z-index: 1;
}

.big-work-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 16px;
    opacity: 0.5;
    transition: 0.5s;
}

.work-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 16px;
    opacity: 0.5;
    transition: 0.5s;
}

.card-boxes img:hover {
    opacity: 1.0;
}

.contact-content {
    display: flex;
    width: 100%;
}

.contact-content h2 {
    padding: 15px;
    margin: 23px;
    border-right: 3px solid #044887;
    font-size: 56px;
}

.contact-content section {
    padding: 15px;
    margin: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
}

.contact-content section ul li {
    padding: 15px;
    margin: 20px;
    width: 100%;
    display: inline;
    list-style: none;
}

.contact-content a {
    color: black;
}

*\